.cosecant_logo {
  height: 45px;
  margin-left: 80px;
  margin-top: 5px;
}

.clr1 ul,
.clr1 li {
  margin: 0%;
  padding: 10px 10px;
  position: relative;
}
.clr1 ul {
  list-style: none;
}

.clr1 li {
  float: left;
  position: relative;
  width: auto;
}
.clr1 a {
  display: block;
  font-size: 13px;
  text-align: left;
}
.clr1 ul li a:hover {
  color: rgb(230, 93, 35);
  display: block;
}
.clr1 ul li a {
  text-decoration: none;
  font-size: 15px;
  color: black;
}

/* underline clor*/
.clr1 a:after {
  content: "";
  position: absolute;
  width: 30%;
  height: 0.15rem;
  left: 10px;
  bottom: 0;
  background: #fa6502;
}
.clr1 a::after {
  transform: scale(0, 1);
}
.clr1 a:hover::after {
  transform: scale(1, 1);
}

.submenu {
  display: none;
  margin: 10px;
  position: relative;
  left: 0;
  width: 200px;
  position: absolute;
}
.submenu li {
  width: 150px;
  background-color: #ffffff;
  flex-wrap: wrap;
  transition: 1s;
}
.clr1 ul li:hover .submenu {
  display: block;
  position: absolute;
  left: -10px;

  background-color: var(--color-black);
}

.submenu a:after {
  content: "";
  position: absolute;
  width: 0.175rem;
  height: 10px;
  left: 0;
  bottom: 0;
  top: 10px;
  background: #fa6502;
}

.dropdown-submenu {
  display: none;
  height: 100px;
  right: -140px;
  background-color: #f9f9f9;
}
.dropdown-submenu-left {
  right: 100%;
  left: auto;
}
.submenu > li:hover > .dropdown-submenu {
  display: block;
}

.dropdown-item:link {
  text-decoration: none;
  color: #222;
}

.dropdown-item:visited {
  text-decoration: none;
  color: #222;
}

.dropdown-item:hover {
  text-decoration: none;

  color: #f1602d;
}

.dropdown-item:active {
  text-decoration: none;
  color: #f1602d;
}

.dropdown-item {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.dropdown-item:after {
  position: absolute;
  left: 0px;
  content: "";
  height: 7px;
  background: #f1602d;
  transition: all 0.3s linear;
  width: 0;
  bottom: 18px;
  rotate: 90deg;
}

.dropdown-item:hover:after {
  width: 36px;
  margin-left: -20px;
}

.dropdown:hover > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
